.mp1{
    background: url('../../../../assets/background-img/reciclaje_vertical.jpg') center/800px 1000px repeat ;
    height: 100%;
}
.mp2{
    background: url('../../../../assets/background-img/bosque.jpg') center /1000px 1150px repeat;
    height: 100%;
}
.mp3{
    background: url('../../../../assets/background-img/accion_vertical.jpg') left /1000px 1000px repeat;
    height: 100%;
}
.mp4{
    background: url('../../../../assets/background-img/bosque_02.jpg') center /1000px 1000px repeat;
    height: 100%;
}
.mp5{
    background: url('../../../../assets/background-img/mar_vertical.jpg') center /1000px 1000px repeat;
    height: 100%;
}
.mp6{
    background: url('../../../../assets/background-img/amapolas.jpg') center /1000px 1000px repeat;
    height: 100%;
}

ion-content{
    
    text-align: center;
    ion-button { --border-radius: 25px !important; margin-left: 15px; margin-right: 15px; margin-bottom: 30px; font-weight: bold; height: 40px; }


    ion-card-content {
        margin-top: 50px;
        margin-left: 5%; 
        margin-right: 5%;
        background-color: transparent;
        text-align: left;
        padding-left: 5%;
    }

    ion-text { 
        background-color: #13505e; 
        font-weight: bolder; 
        font-size: 40px; 
        color: white;
        text-transform: uppercase; 
        margin-top: 20px;
    }
    .author {background-color: transparent; font-size: 30px;}
    .lowercase { text-transform: none;}


}

/**
*** Web Responsive style
**/
    @media (min-width: 1000px) {

        .mp1{
            background: url('../../../../assets/background-img/reciclaje_web.jpg') center /1500px 1000px repeat ;
            height: 100%;
        }
        .mp2{
            background: url('../../../../assets/background-img/bosque_web_ok.jpg') center /1750px 1050px repeat;
            height: 100%;
        }
        .mp3{
            background: url('../../../../assets/background-img/accion.jpg') center /1950px 1150px repeat;
            height: 100%;
        }
        .mp4{
            background: url('../../../../assets/background-img/bosque_02.jpg') center /1950px 2800px repeat;
            height: 100%;
        }
        .mp5{
            background: url('../../../../assets/background-img/mar_web.jpg') center /1950px 1100px repeat;
            height: 100%;
        }
        .mp6{
            background: url('../../../../assets/background-img/amapolas.jpg') center /1950px 1500px repeat;
            height: 100%;
        }
        

        ion-content {

           ion-card-content {
                margin-top: 150px;
                padding-left: 5%;
                padding-right: 5%;
                margin-left: 30%;
                margin-right: 30%;
                display: inline-block;
                

            }   

            ion-text{font-size: 50px; }
        }
        
    
    }
