
<app-toolbar></app-toolbar>

<ion-content>
  <div class="header-class">
    <div style="display: grid; grid-auto-flow: column; gap: 50px; justify-content: center; padding-left: 100px;">
      <ion-thumbnail class="avatar-center">
        <div *ngIf="avatar; else elseBlock">
          <img width="100px" [src]="avatar" alt="">
        </div>
        <ng-template #elseBlock>
          <img src="./../../../assets/avatar.svg" />
        </ng-template>
      </ion-thumbnail> 
      <ion-fab-button color="loginbtn" 
                      size="small" 
                      (click)="editAvatarModal()"> 
        <ion-icon name="create-outline" style="color: white;"></ion-icon> 
      </ion-fab-button> 
    </div>
    <ion-label class="header-text">
      <ion-grid class="ion-padding-top ion-padding-bottom">
        <ion-row>
          <ion-col> 
            <ion-title> 
              <ion-label class="title-offer" color="dark">
                {{ userInfo?.name }} - {{userInfo?.city | translate }} 
              </ion-label>
            </ion-title>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-label>   
  </div>

  <!-- Content -->
  <div class="container">
    <ion-card class="content-info">
      <ion-card-content>
         <!-- Skills -->   
        <div style="display: grid; grid-auto-flow: column; justify-content: left; gap: 20px;">
          <h2>{{ 'our-values' | translate }}</h2>
          <ion-fab-button color="loginbtn" size="small" (click)="openModal()"> <ion-icon name="create-outline"
              style="color: white;"></ion-icon> </ion-fab-button>
        </div>
        
        <div class="ion-padding-bottom" *ngIf="userSkills.length === 0">
          <div class="text-no-valors ion-padding">
            <ion-label color="danger" class="ion-text-start">
              <!-- Encara no tens valors seleccionats -->
              {{'no-values-selected' | translate }}
            </ion-label> 
          </div>
        </div>

        <div class="skills-info ion-padding-top ion-padding-bottom" *ngIf="userSkills?.length > 0">
          <div class="custom-icon" *ngFor="let skill of skillsIco">
            <ion-icon class="{{skill.sClass}} "></ion-icon>
            <span><div class="small-size"> {{ skill.sname | translate }} </div></span> 
          </div>
        </div>
      </ion-card-content>
      <ion-card-content>
        <div style="display: grid; grid-auto-flow: column; justify-content: left; gap: 20px;">
          <ion-title>{{ 'info' | translate }}</ion-title>
          <ion-fab-button color="loginbtn" size="small" (click)="editModal()"> <ion-icon name="create-outline"
              style="color: white;"></ion-icon> </ion-fab-button>
        </div> 
        <ion-card class="ion-padding">
          <ion-row><p class="title">{{'company-name' | translate }}:</p><p class="padding-left">{{ userInfo?.name }}</p></ion-row>
          <ion-row><p class="title">{{'website' | translate }}:<a (click)="goToWebsite()" class="padding-left" style="cursor: pointer; font-size: 24px;">{{ userInfo?.website }}</a></p></ion-row>
          <ion-row><p class="title">{{'email' | translate }}:</p><p class="padding-left">{{ userInfo?.email }}</p></ion-row>
          <ion-row><p class="title">{{'city' | translate }}:</p><p class="padding-left">{{ userInfo?.city }}</p></ion-row>
          <ion-row >
            <p class="title">{{'sectors' | translate}}:</p>
            <div class="sector">
              <ion-col style="padding-top: 0px;">
                <ion-label>
                  <h4 class="padding-left">
                    <ion-chip *ngFor="let sector of userInfo?.sector" >
                      <ion-label style="font-size: 16px;"> {{ sector.name | translate }} </ion-label>
                    </ion-chip>
                  </h4>
                </ion-label>
              </ion-col>
            </div> 
          </ion-row>
          <p class="padding-left" >{{userInfo?.experience}} {{'seniority' | translate }}</p>
          <ion-row><p class="title">{{'description' | translate }}:</p><p class="padding-left">{{ userInfo?.lastJobTasks }}</p></ion-row>
        </ion-card> 
        
      </ion-card-content>
    </ion-card>   
  </div>
</ion-content>
<app-menu-mobile></app-menu-mobile>

