/***************************************************************************/
/***************************** Custom Styles *******************************/
/***************************************************************************/

ion-content { 
    ion-header { box-shadow: none !important;}
    
    .container { 
        //--ion-background-color: #f2f2f2; 
        .center-class { text-align: center;}  
        .margin-fab-btn { margin: 15px 50px; }

        margin-top: 40px;
        margin-bottom: 60px;
        margin-left: 15%;
        margin-right: 15%;
        max-width: 1200px;
        display:grid;
        gap: 40px;

        

        h2 {
            font-weight: 600;
            font-size: 30px;
            color: black   ;
        }

        p {
            font-size: 24px;
            -ms-word-break: break-all;
            word-break: break-all;
            word-break: break-word;  
            padding-top: 20px;
            
        }

        p.title {
            color: black;

        }


        ion-card.card-title {
            margin: 0;
            box-shadow: none;
            background: var(--ion-color-upmeup);
            border-bottom: 4px solid #c8e3d6;
            border-radius: 0;
        }

        ion-card-header {
            ion-label { color: white; margin-top: 15px; margin-bottom: 15px; }
            ion-thumbnail img { border-radius: 50%; }
            .avatar-center { margin:0 auto; width: 130px; height: 130px; margin-top: 25px; margin-bottom: 20px; }
        }

        /* Content */
        ion-card.content-info { 
            margin: 0; 
            border-radius: 0; 
            box-shadow: none;

            ion-button { 
                margin: 30px 15px; 
                font-weight: bold; 
                height: 40px; 
                text-transform: capitalize; 
                
                .edit-btn { margin: 0 !important; }
                span { color: white; }
            }

            ion-title {
                color: black;
                font-weight: bolder;
                padding: 0;
                font-size: 30px;
            }

            .skills-info { 

                text-align: center;
                display: grid;
                grid-template-columns: repeat(3,  auto);
                max-width: 1000px;
                column-gap: 100px;
                row-gap: 30px;
                margin: 0px 0px;
 
            }

       

            @media only screen and (max-width: 950px) and (min-width: 500px) {
                .skills-info {
                    grid-template-columns:repeat(2, auto);
                }
            }
    
            @media only screen and (max-width: 500px){
                .skills-info {
                    grid-template-columns:auto;
                    margin-left: -20px;
                }
            }

            ion-label ion-icon { 
                width: 40px; 
                height: 40px; 
                vertical-align: middle; 

            }

            .title-offer { 
                white-space: normal;
            
            }   
            
            .small-size {
                font-size: 18px;
                font-weight: 500;
            }


            .custom-icon {
                display: grid;
                justify-items: center;
                justify-content: center;
                ion-icon {
                    height: 50px;
                    width: 100%;
                    background-position: center;
                }
                ion-label { color: #5a7266 ; /*vertical-align: middle; text-align: center;*/ }
                span { margin-left: 5px; font-size: 18px; color: #5a7266; font-weight: 500; /*line-height: normal; height: 36px;*/ }
            }

            .sector {
                align-items: center;
                display: grid;
                grid-template-columns: repeat(3,  auto);
                max-width: 1000px;
                margin: 20px 0px;

                
            }

            @media only screen and (max-width: 850px){
                .sector {
                    grid-template-columns: auto;
                }

                ion-card-content {
                    margin-left: 0px;
                    width: 100%; 
                }
            }
        }
        ion-card-content {    
            width: 90%; 
            margin-left: 5%;
            h4.margin { margin-top: 30px; } 
            .custom-title { color: var(--ion-color-upmeup); font-weight: bold; }
            .custom-subtitle { color: black; font-weight: light; margin-top: 30px; font-size: 24px;}

            .edit-btn {
                border-radius: 50%;
                height: 25px;
                width: 25px;
                background: #4acdba;
                color: #FFF;
                box-shadow: 0px 2px 3px 0px #b0b0b0;
                line-height: 2;
            }    
              
        }
        
        ion-label ion-chip {
            background-color: white;
            color: #9FC6BA;
            font-size: 16px;
            font-weight: 500;
            height: min-content;
            text-align: left;
            border-color: #9FC6BA;
            border-style: solid;
            border-width: 0.82px;
            border-radius: 49px;
            padding-top: 14px;
            padding-bottom: 14px;
            padding-left: 39px;
            padding-right: 39px;
            cursor: default;

        }
       

        .exp-title {
            h3 { font-weight: bold; margin-top: 25px;} 
            h5 { margin-bottom: 25px;} 
        }

        .vertical-ico-style {
            color: var(--ion-color-upmeup); 
            fill: currentcolor; 
            margin-right: 15px; 
        }

       /* .custom-text { white-space: normal; }
        .custom-button { font-size: 18px; border-radius: 50% !important; }
        .ico-margin { margin-right: unset; margin-inline-end: 14px; }*/
    }

    @media only screen and (max-width: 550px) {
        .container {
            margin: 40px 20px;
        }
    }

    @media only screen and (max-width: 800px) and (min-width: 440px) {
        .container {
            margin: 40px 40px;
        }
    }

}

/* Outside toolbar header */
.header-class { 
    background-color: var(--ion-color-upmeup);

    .head-line { border: 3px #c8e3d6 solid; }

    ion-thumbnail { margin:0 auto; width: 110px; height: 110px; }
    img { border-radius: 50%; }
    .header-text { 
        display: block; 
        text-align: center; 
        font-weight: bolder;
    }

    .text-no-valors { text-align: center; font-size: 14px; }
    .title-offer { white-space: normal; font-size: 28px; }  

    
}
        
ion-fab-button { --box-shadow: none !important; --background: none !important; --color: none !important;}

/**
*** Web Responsive style
**/
@media (min-width: 1020px) {
    ion-card-content { 
        width: 50%; 
        margin: 0 auto; 
        
    
        ion-button { width: 60%; margin: 30px auto !important; }
    
    }
}

