
<app-toolbar></app-toolbar>

<ion-content *ngIf="userInfo">
  <div class="header-class">
    <ion-thumbnail class="avatar-center">
      <div *ngIf="avatar; else elseBlock">
        <img width="130px" [src]="avatar" alt="">
      </div>
      <ng-template #elseBlock>
        <img width="130px" src="./../../../assets/avatar.svg" />
      </ng-template>
    </ion-thumbnail>
    <ion-label class="header-text">
      <ion-grid class="ion-padding-top ion-padding-bottom">
        <ion-row>
          <ion-col class="ion-text-center">
            <ion-title> <ion-label class="title-offer" style="font-weight: 500;">
                {{ userInfo.name }} {{userInfo.surname}}
                <h3>
                  <!-- de -->
                  {{'from' | translate }}
                  {{userInfo.city | translate}}
                </h3>
              </ion-label>
            </ion-title>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-label>

  </div>

  <!-- Content -->
  <div class="container">
    <div name="values">
      <div style="display: grid; grid-auto-flow: column; justify-content: left; gap: 20px;">
        <h2>{{ 'values' | translate }}</h2>
      </div>
      <div class="ion-padding-bottom" *ngIf="userSkills.length === 0">
        <div class="header-text ion-padding">
          <ion-label color="danger" class="ion-text-start">
            <!-- Encara no tens valors seleccionats -->
            {{'no-values-selected' | translate }}
          </ion-label>
        </div>
      </div>

      <div class="skills-info ion-padding-top ion-padding-bottom" *ngIf="userSkills?.length > 0">
        <div class="custom-icon" *ngFor="let skill of skillsIco">
          <ion-icon class="{{skill.sClass}}"></ion-icon>
          <span><b>{{ skill.sname | translate }}</b></span>
        </div>
      </div>
    </div>
    <div name="info">
      <div style="display: grid; grid-auto-flow: column; justify-content: left; gap: 20px;">
        <h2>{{ 'info' | translate }}</h2>
      </div>
      <ion-row >
        <p><strong>{{'sectors' | translate}}:</strong></p>
        <div class="sector">
          <ion-col style="padding-top: 0px;">
            <ion-label>
              <h4 class="margin">
                <ion-chip *ngFor="let sector of userInfo?.sector" >
                  <ion-label style="font-size: 16px;"> {{ sector.name | translate }} </ion-label>
                </ion-chip>
              </h4>
            </ion-label>
          </ion-col>
        </div> 
        <ion-col style="padding-top: 0px; text-align: left; margin-left: 10px;" >
          <p >{{userInfo.experience}} {{'experience' | translate}}</p>
        </ion-col>
      </ion-row>
      <p><strong>{{'description' | translate }}: </strong>{{ userInfo?.lastJobTasks }}</p>
      
     
    </div>
    <div name="skills">
      <h2>{{ 'skills' | translate }}</h2>
      <ion-label>
        <h4 class="margin">
          <ion-chip *ngFor="let compet of userCompets">
            <ion-label style="font-size: 16px;"> {{ compet.name | translate }} </ion-label>
          </ion-chip>
        </h4>
      </ion-label>
    </div>
    <div name="studies">
      <h2>{{ 'qualification' | translate }}</h2>
      <p>{{userInfo.eduLevel}}</p>
    </div>
    <div name="languages">
      <h2>{{ 'languages' | translate }}</h2>
      <ion-label>
        <h4 class="margin">
          <ion-chip *ngFor="let lang of userInfo?.languages">
            <ion-label style="font-size: 16px;">{{ lang | translate }} </ion-label>
          </ion-chip>
        </h4>
      </ion-label>
    </div>
    <div name="cv"  *ngIf="userInfo.cv">
      <h2>Curriculum Vitae</h2>
      <ion-label>
        <h4 class="nomargin">
          <ion-button color="loginbtn" shape="round" (click)="downloadCV()">{{'download' |
            translate}}</ion-button>
        </h4>
      </ion-label>
    </div>
    <div name="cover-letter" *ngIf="userInfo.coverLetter">
      <h2>{{ 'cover-letter' | translate }}</h2>
      <h4 class="nomargin" style="text-align: justify;">
        {{userInfo.coverLetter}}
      </h4>
    </div>
    <div name="video" *ngIf="userInfo.video">
      <h2>{{ 'presentation-video' | translate }}</h2>
      <a target="_blank" href="{{userInfo.video}}">{{userInfo.video}}</a>
    </div>
  </div>
</ion-content>
<app-menu-mobile></app-menu-mobile>