/***************************************************************************/
/***************************** Custom Styles *******************************/
/***************************************************************************/
ion-content { 
    ion-header { box-shadow: none !important; }

    .container { 

        background-color: #F9F8F8;
        .avatar-center { margin:0 auto; width: 130px; height: 130px; margin-top: 25px; margin-bottom: 20px; }
        .custom-title { color: black; padding-top: 20px; padding-bottom: 30px; white-space: normal;}
        .textarea-title { font-size: 22px; }        
        .custom-sub { font-size: 12px; }
        .custom-text { font-size: 15px; }
        
        ion-select { 
            max-width: 75%; 
            --placeholder-opacity: 100%;
        }

        ion-list {
            background-color: #F9F8F8;
        }

        ion-item {--ion-item-background: #F9F8F8; --background-hover: none;}

        ion-card { box-shadow: none !important; }

        ion-card-content { padding-left: 60px; padding-right: 60px;}

        ion-label { 
            .header-text {
                color: black;
            }
        }

        ion-title { color: black; font-weight: bolder; padding-left: 15px; font-size: 30px; white-space: normal;}

        .input-select-container {
            background: #FFF;
            border-radius: 60px;
            text-align: center;
            padding-left: 40px;
            font-size: 14px;
            width: 230px;        
            height: 40px; 
            color: #349388;
        }
    }

    div {
         /* Firefox */
     input[type=number] {
        -moz-appearance: textfield;
        appearance: textfield;

    }

    ::placeholder {

        color: var(--placeholder-forms);
        opacity: 100%;
    }
    }
    

}

/* Outside toolbar header */
.header-class { 
    background-color: var(--ion-color-upmeup);
    padding-bottom: 15px;
    text-align: center;

    ion-thumbnail { margin:0 auto; width: 130px; height: 130px; }
    img { border-radius: 50%; }

    .title-offer { white-space: normal; font-size: 28px;}
    
}

@media (max-width: 700px){
    ion-item {
        ion-row {
            margin-bottom: 10px;
        }
    }
    ion-content {
        .container {
        ion-card-content { padding-left: 20px; padding-right: 20px;}
    }
    }
    
    
}