/***************************************************************************/
/***************************** Custom Styles *******************************/
/***************************************************************************/

ion-content { 

    --ion-background-color: var(--ion-color-dark-upmeup); 
    ion-button { --border-radius: 25px !important; margin-left: 15px; margin-right: 15px; margin-bottom: 30px; font-weight: bold; height: 40px; }

    h4.margin { margin: 30px; font-size: 14px;} 
            .custom-title {font-weight: 400; font-size: 24px; }

            h4.nomargin {font-size: 14px;}

            h2.margin {margin: 30px;}.custom-title
            
            h6.custom-subtitle { font-weight: bold; font-size: 14px; }

    .header-class { 
        
        .head-line { border: 3px #c8e3d6 solid; }
        
        ion-thumbnail { margin:0 auto; width: 130px; height: 130px; margin-top: 5%; margin-bottom: 5%;}
        img { border-radius: 50%; width: 130px; height: 130px; }
        .header-text { display: block; text-align: center; }
    
    
    }

    .container { 
        //--ion-background-color: #f2f2f2; 

        margin-bottom: 10%;

        ion-card.card-title {
            margin: 0;
            box-shadow: none;
            background: var(--ion-color-upmeup);
            border-bottom: 4px solid #c8e3d6;
            border-radius: 0;
        }

        ion-card.content-info { 
            margin: 0; 
            border-radius: 0; 
            box-shadow: none;
            margin-bottom: 10%;

            ion-button { 
                margin: 30px 15px; 
                font-weight: bold; 
                height: 40px; 
                text-transform: capitalize; 
                
                .edit-btn { margin: 0 !important; }
                span { color: white; }
            }
        }
        
        
        ion-fab-button { width: 45px; height: 45px; box-shadow: none !important; } 
        .margin-fab-btn { margin: 15px 50px; }
        
        .exp-title {
            h3 { font-weight: bold; margin-top: 25px;} 
            h5 { margin-bottom: 25px;} 
        }

        ion-label ion-chip {
            background-color: var(--ion-color-upmeup);
        }

        label {
            cursor:pointer;
        }

    }

}


