<ion-header class="ion-no-border">
  <!--<ion-toolbar color="upmeup">
      <ion-button shape="round" size="small" slot="end" color="warning" (click)="loadModalPwa($event)">Instal·lar App</ion-button>
    </ion-toolbar>-->
  <app-multilanguage></app-multilanguage>
</ion-header>

<ion-content>
  <ion-slide>
    <div class="container-login">
      <ion-grid *ngIf="!token">
        <ion-row>
          <ion-col>
            <h3 *ngIf="!submited">
              {{ 'insert-account-email' | translate }}
            </h3>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <form *ngIf="!submited" [formGroup]="tokenForm" (ngSubmit)="submitTokenForm()" novalidate>
              <div class="error-box" *ngIf="error">
                <ion-label color="danger" class="text-error">
                  {{ resetError }}
                </ion-label>
              </div>
              <div class="list list-inset input-container">
                <input class="native-input sc-ion-input-md" type="text" size="30" placeholder="{{'email' | translate}}" id="userEmail"
                  formControlName="userEmail" required>
              </div>

              <ion-button type="submit" fill="solid" color="loginbtn" expand="block" [disabled]="!tokenForm.valid">
                {{'reset-password' | translate }}
              </ion-button>

            </form> 
            <div *ngIf="submited && !error">
              <h3>
                {{ 'password-reset-email-sent' | translate }}
              </h3>
              <a [routerLink]="['/login']">{{ 'go-to' | translate: { page: 'login' } }}</a>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>

      <ion-grid *ngIf="token">
        <ion-row>
          <ion-col>
            <h3>
              {{ 'new-password' | translate }}
            </h3>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <form [formGroup]="passwordForm" (ngSubmit)="submitPasswordForm()" novalidate>
              <div class="error-box" *ngIf="error">
                <ion-label color="danger" class="text-error">
                  {{ resetError }}
                </ion-label>
              </div>
              <div class="list list-inset input-container">
                <ion-label>
                  <ion-row>
                    <ion-col size="10">
                      <input class="native-input sc-ion-input-md" type="password" size="30" placeholder="{{'password' | translate }}"
                      id="password" formControlName="password" required>
                    </ion-col>
                    <ion-col style="text-align: end; padding-top: 8px" >
                      <ion-icon class="eye-ico" (click)="showPass()"></ion-icon>
                    </ion-col>
                  </ion-row>
                </ion-label>
                
              </div>

              <div
                *ngIf="passwordForm.controls.password.errors && (passwordForm.controls.password.invalid || passwordForm.controls.password.touched)">
                <small class="error ion-padding" *ngIf="passwordForm.controls.password.errors?.required">*
                  <!-- Camp requerit -->
                  {{'required-field' | translate }}
                </small><br>
                <small class="error ion-padding" *ngIf="passwordForm.controls.password.errors?.pattern">
                  *
                  <!-- La contrasenya ha de tenir entre 8 i 16 caràcters, almenys un dígit, almenys una minúscula i almenys una majúscula. -->
                  {{'password-conditions' | translate }}
                </small><br>
                <small class="error ion-padding" *ngIf="passwordForm.controls.password.errors?.minlength">*
                  <!-- Ha de tenir com a mínim 8 caràcters -->
                  {{'min-character' | translate: { min: 8 } }}
                </small>
              </div>
              <ion-row>
                <ion-col>
                  <h3>
                    {{ 'confirm-password' | translate }}
                  </h3>
                </ion-col>
              </ion-row>
              <div class="list list-inset input-container">
                <ion-label>
                  <ion-row>
                    <ion-col size="10">
                      <input class="native-input sc-ion-input-md" type="password" size="30" placeholder="{{'password' | translate }}"
                      id="password-repeat" formControlName="confirmPassword" required>
                    </ion-col>
                    <ion-col style="text-align: end; padding-top: 8px" >
                      <ion-icon class="eye-ico" (click)="showConfirmedPass()"></ion-icon>
                    </ion-col>
                  </ion-row>
                </ion-label>
                
              </div>
              <div
                *ngIf="passwordForm.controls.confirmPassword.errors && (passwordForm.controls.confirmPassword.invalid || passwordForm.controls.confirmPassword.touched)">
                <small class="error ion-padding" *ngIf="passwordForm.controls.confirmPassword.errors?.required">*
                  <!-- Camp requerit -->
                  {{'required-field' | translate }}
                </small><br>
                <small color="danger" class="error ion-padding"
                  *ngIf="passwordForm.controls.confirmPassword.errors?.matching">*
                  <!-- El password no coincideix -->
                  {{'wrong-password' | translate }}
                </small>
              </div>

              <ion-button type="submit" fill="solid" color="loginbtn" expand="block" [disabled]="!passwordForm.valid">
                {{'reset-password' | translate }}
              </ion-button>

            </form>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </ion-slide>
</ion-content>