/***************************************************************************/
/***************************** Custom Styles *******************************/
/***************************************************************************/
ion-row.offerList { padding-inline-start: 5%; padding-inline-end: 5%; }


.disable {
    display: none;
}



ion-content { 
    // --ion-background-color: #c8e3d6;
    ion-header { box-shadow: none !important; }

    ion-title { 
        font-size: 30px; 
        font-weight: 600;
        .title-offer { font-size: 28px; font-weight: 500;}
    
    }

    

    .container { 
        // --ion-background-color: #f2f2f2;

        ion-card-content { 
            padding: 0px; 
            cursor: pointer;
        
            ion-button { height: 28px; width: 105px; text-transform: capitalize; }
        }

        ion-card {            
            .user-avatar { width: 85px; height: 85px; }
            img.users { border-radius: 10%; }
        }   
        
        
    }

    .separator { border: 1px solid #4acdba; margin: 85px 0 0px 105px; position: fixed; width: 85%; z-index: 2; }
    
}

/* Outside toolbar header */
.header-class { 
    background-color: var(--ion-color-upmeup);
    
    ion-thumbnail { margin:0 auto; width: 110px; height: 110px; }
    img { border-radius: 50%; }
    .header-text { display:block; text-align: center; font-weight: 500; }

    .grid-info { margin: 0px 20px; font-size: 16px; font-weight: 700; }

    ion-label ion-icon { 
        width: 30px; 
        height: 30px; 
        margin: 0 10px; 
        vertical-align: bottom;
    }

    .title-offer { white-space: normal; }
    
    .custom-icon {
        height: 30px;
        margin-left: 10px;

        
    }
    ion-label { vertical-align: middle; color: #5a7266; text-align: center;}
}


/**
*** Web Responsive style
**/
@media (min-width: 1020px) {
    ion-card { width: 50%; margin: 10px auto; }
    .container {
        ion-title { width: 50%; margin: 30px auto !important; }
    }
    .noEnrolled { width: 50%; margin: 0 auto !important; }
    .header-items {margin-left: 35% !important; margin-right: 25% !important;}
    ion-row.offerList { padding-inline-start: 25%; padding-inline-end: 5%; }
    
}

@media (min-width: 500px) {
    .header-items {margin-left: 15%; margin-right: 5%;}
}