
<ion-header class="ion-no-border">
  <app-toolbar></app-toolbar>
  <div class="header-class" *ngIf="offer">
    <ion-thumbnail class="avatar-center">
      <div *ngIf="avatar; else elseBlock">
        <img width="100px" [src]="avatar" alt="">
      </div>
      <ng-template #elseBlock>
        <img src="./../../../assets/avatar.svg" />
      </ng-template>
      <!-- <img class="profile" src="./../../../assets/thumbnail.svg" /> -->
    </ion-thumbnail>
    <ion-label class="header-text ion-padding">
      <div>
        <ion-row>
          <ion-col>
            
            <ion-title class="ion-padding"> 
              <ion-label class="title-offer" color="dark"><b> {{ offer.title }} 
                </b>
              </ion-label>
              
              <ion-row *ngIf="offer.status == 'INACTIVE'" style="white-space: normal; justify-content: center;">
                <ion-label  *ngIf="offer.status == 'INACTIVE'" style="color:crimson">
                  [{{'offer-inactive' | translate }}]
                </ion-label>
                <ion-label style="font-size: 16px; color: crimson; padding-left: 10px; padding-top: 5px">{{'offer-inactive-exp' | translate }}</ion-label></ion-row>

            </ion-title>
                
              <!-- <ion-col class="{{showOption === 'true' ? '' : 'disable'}}" style="cursor: pointer;">  -->
                <ion-row style="justify-content: center;">
                  <ion-col style="max-width: 250px;" *ngIf="offer.status == 'ACTIVE' || offer.status === null ">
                    <ion-button color="loginbtn" (click)="disableOffer(offer._id)">{{'offer-deactivate' | translate }}</ion-button>
                    <ion-text (click)="showOptions(1)" style="font-size: 14px;">(?)</ion-text>     
                    <ion-text class="{{showOption === 1 ? '' : 'disable'}}">{{'offer-deactivate-exp' | translate }}</ion-text>
                  </ion-col>
                  <ion-col style="max-width: 300px;" *ngIf="offer.status == 'INACTIVE'">
                    <ion-button color="loginbtn" (click)="enableOffer(offer._id)">{{'offer-reactivate' | translate }}</ion-button>
                    <ion-text (click)="showOptions(1)" style="font-size: 14px;">(?) </ion-text>     
                    <ion-text class="{{showOption === 1 ? '' : 'disable'}}">{{'offer-reactivate-exp' | translate }}</ion-text>
                  </ion-col>
                  <ion-col style="max-width: 250px;">
                    <ion-col>
                      <ion-button color="loginbtn" (click)="deleteOffer(offer._id)">{{'offer-delete' | translate }}</ion-button>
                    </ion-col>
                    <ion-col>
                      <ion-text (click)="showOptions(2)" style="font-size: 14px;">(?) </ion-text>     
                    <ion-text class="{{showOption === 2 ? '' : 'disable'}}">{{'offer-delete-exp' | translate }}</ion-text>
                    </ion-col>
                  </ion-col>
                  <ion-col style="max-width: 250px;">
                    <ion-col>
                      <ion-button color="loginbtn" (click)="editModal()">{{'offer-edit' | translate }}</ion-button>
                    </ion-col>
                    <ion-col>
                       <ion-text (click)="showOptions(3)" style="font-size: 14px;">(?) </ion-text>     
                    <ion-text class="{{showOption === 3 ? '' : 'disable'}}">{{'offer-edit-exp' | translate }}</ion-text>
                    </ion-col>
                  </ion-col>
                </ion-row>
               
                
                
                
              <!-- </ion-col> -->
          </ion-col>        
          <!-- <ion-col>
            <ion-fab-button color="upmeup" (click)="showOptions()"> <ion-icon style="color: #5a7266;"
                name="construct-outline"></ion-icon> </ion-fab-button>
          </ion-col> -->
        </ion-row>
      </div>
    </ion-label>
    <div class="header-items">
      <ion-row>
        <ion-col>
          <ion-row>
            <ion-col size="3">
              <div class="calendar-ico custom-icon"></div>
            </ion-col>
            <ion-col size="6">
              <ion-label> {{ offer?.createdDate | date: 'dd/MM/yyyy' }} </ion-label>
            </ion-col>
           </ion-row>
        </ion-col>
        <ion-col>
          <ion-row>
            <ion-col size="3">
              <div class="location-ico custom-icon"></div>   
            </ion-col> 
            <ion-col>
              <ion-label> {{ offer.city | translate }} </ion-label>
            </ion-col>
          </ion-row>
        </ion-col>
        
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-row>
            <ion-col size="3">
              <div class="remoto-ico custom-icon"></div>
            </ion-col>
            <ion-col>
              <ion-label> {{ offer.remote | translate  }} </ion-label>
            </ion-col>
          </ion-row>
        </ion-col>
        <ion-col>
         <ion-row size="6">
            <ion-col size="3">
              <div class="jornada-ico custom-icon"></div>
            </ion-col>
            <ion-col>
              <ion-label style="text-align: center;"> {{ offer.workHours | translate  }} </ion-label>
            </ion-col>
          </ion-row> 
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-row>
            <ion-col size="3">
              <div class="salary-ico custom-icon"></div>
            </ion-col>
            <ion-col>
              <ion-label> {{ offer.salaryRange }} € </ion-label>
            </ion-col>
          </ion-row>
        </ion-col>
        <ion-col>
          <ion-row>
            <ion-col size="3">
              <div class="enrolled-ico custom-icon"></div>
            </ion-col>
            <ion-col>
              <ion-label> {{ offer?.enrolled }} </ion-label>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
    </div>
  </div>
</ion-header>

<ion-content>
  <div class="container">
    <div class="noEnrolled ion-padding" *ngIf="usersListData.length === 0">
      <ion-label>
        <ion-text color="medium"> 
          <!-- Encara no s'ha inscrit ningú...  -->
          {{'no-sign-up' | translate }} 
        </ion-text>
      </ion-label>
    </div>
    <ion-row *ngIf="offer" class="offerList" style="padding-bottom: 10%; ">
      <ion-col >
        <ion-card class="container" *ngFor="let candidate of usersListData" style="margin-inline: 0; width: 100%; max-width: 800px;" >
          <ion-card-content>
            <ion-list lines="none">
              <ion-grid>
                <div class="separator"></div>
                <ion-row>
                  <ion-col>
                    <ion-item>
                      <ion-thumbnail class="user-avatar" slot="start">
                        <img *ngIf="candidate.user.avatarB64" class="users" [src]="candidate.user.avatarB64" />
                        <img *ngIf="!candidate.user.avatarB64" class="users" src="./../../../assets/avatar.svg" />
                      </ion-thumbnail>
                      <ion-label>
                        <ion-text>
                          <h2 class="title-color"> {{candidate.user.name}} {{candidate.user.surname}} <ion-text (click)="goCandidateProfile(candidate.user._id)" style="font-weight: bolder; text-decoration: underline;"> (ver perfil) </ion-text></h2>
                        </ion-text>
                        <ion-text color="medium">
                          <h3> <b>{{ candidate.user.jobPosition}}</b> </h3>
                        </ion-text>
                        <ion-text color="medium">
                          <ion-text color="medium">
                            <p>
                              <ion-icon name="location-outline"></ion-icon> {{ candidate.user.city | translate }}
                            </p>
                          </ion-text>
                        </ion-text>
                        <ion-range 
                          labelPlacement="start" 
                          [min]=0 
                          [max]=100 
                          [value]="candidate.match.total" 
                          style="pointer-events: none; --knob-box-shadow: 0 0 0 4px white; --bar-height: 8px --bar-background: #d2d9e2; --bar-background-active: var(--ion-color-loginbtn); --bar-height: 6px; --bar-border-radius: 6px; --knob-background: var(--ion-color-loginbtn); --knob-size:20px;"
                        >
                          <div slot="start"><h3 style="color: var(--ion-color-loginbtn); font-weight: 900;">{{candidate.match.total}}%</h3></div>
                        </ion-range>
                        <ion-row >
                          <ion-col size="6"> 
                            <ion-button  *ngIf="!candidate.status" 
                                       (click)="preselectCandidate(candidate.user._id)" 
                                        color="candidateok" 
                                        shape="round" 
                                        style="font-weight: 900;">{{'fits' | translate}}</ion-button>
                          </ion-col>
                          <ion-col>
                            <ion-button *ngIf="!candidate.status"     
                                      (click)="rejectCandidate(candidate.user._id)" 
                                       color="candidateko" shape="round" 
                                       style="font-weight: 900;">{{ 'no-fits' | translate}}</ion-button>
                          </ion-col>   
                        </ion-row>
                        <ion-row *ngIf="candidate.status===candidatureStatus.PRESELECTED || candidate.status===candidatureStatus.HIRED ">
                          <ion-col>
                            <ion-text><h2><a href="{{'mailto:'+candidate.user.email}}">{{ candidate.user.email }}</a></h2></ion-text>
                          </ion-col>
                          <ion-col>
                          
                         <input *ngIf="candidate.status===candidatureStatus.PRESELECTED" type="checkbox" id="hired" (click)="updateHiring(candidate.user._id)">
                         <input *ngIf="candidate.status===candidatureStatus.HIRED" type="checkbox" checked id="hired" (click)="updateHiring(candidate.user._id)">
                         <label for="hired" style="padding-left: 10px;">{{'hired-checkbox' | translate }}</label>
                            
                          </ion-col>
                          
                          
                        </ion-row>
                        
                      </ion-label>
                    </ion-item>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-list>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <div></div>
  </div>
</ion-content>
<app-menu-mobile></app-menu-mobile>