<ion-footer class="mobile" *ngIf="auth.isLogged()">
    <ion-toolbar>
      <ion-grid> 
        <ion-row>
        <ion-col *ngIf="userType === '1'">
          <div routerDirection="root" [routerLink]="['/user-profile']" lines="none" detail="false">
            <ion-grid>
              <ion-row>
                <ion-icon class="user-ico"></ion-icon>
              </ion-row>
              <ion-row>
                <ion-label style="font-size: 12px;">{{'profile' | translate}}</ion-label>
              </ion-row>
            </ion-grid>
          </div>
        </ion-col> 

        <ion-col *ngIf="userType === '2'">
            <div routerDirection="root" [routerLink]="['/company-profile']" lines="none" detail="false">
              <ion-grid >
                <ion-row class="icon">
                  <ion-icon class="user-ico"></ion-icon>
                </ion-row>
                <ion-row class="label">
                  <ion-label style="font-size: 12px;">{{'profile' | translate}}</ion-label>
                </ion-row>
              </ion-grid>
            </div>
          </ion-col> 
  
        <ion-col *ngIf="userType === '2'">
          <div type="button" (click)="createModal()" lines="none" detail="false">
            <ion-grid>
              <ion-row class="icon">
                <ion-icon class="vector-ico"></ion-icon>
              </ion-row>
              <ion-row class="label">
                <ion-label style="font-size: 12px;">{{'publish' | translate }}</ion-label>
              </ion-row>
            </ion-grid>  
          </div>
        </ion-col>
     
        <ion-col *ngIf="userType === '1'">
          <div routerDirection="root" [routerLink]="['/offer-list']" lines="none" detail="false">
            <ion-grid  >
              <ion-row class="icon">
                <ion-icon class="ofertas-ico"></ion-icon>
              </ion-row>
              <ion-row class="label">
                <ion-label style="font-size: 12px;">{{'offers' | translate }}</ion-label>
              </ion-row>
            </ion-grid>
          </div>
        </ion-col>

        <ion-col *ngIf="userType === '2'">
          <div routerDirection="root" [routerLink]="['/company-offer']" lines="none" detail="false">
            <ion-grid>
              <ion-row class="icon">
                <ion-icon class="ofertas-ico"></ion-icon>
              </ion-row>
              <ion-row class="label">
                <ion-label style="font-size: 12px;">{{'offers' | translate }}</ion-label>
              </ion-row>
            </ion-grid>
          </div>
        </ion-col>
        
        <ion-col>
          <div routerDirection="root" [routerLink]="['/help']" lines="none">
            <ion-grid >
              <ion-row class="icon">
                <ion-icon class="union-ico"></ion-icon>
              </ion-row>
              <ion-row class="label">
                <ion-label style="font-size: 12px;">{{'help' | translate }}</ion-label>
              </ion-row>
            </ion-grid> 
          </div>
        </ion-col>
  
        <ion-col>
          <div  id="click-trigger" lines="none">  
            <ion-grid>
              <ion-row class="icon">
                <ion-icon class="idioma-ico"></ion-icon>
              </ion-row>
              <ion-row class="label">
                 <ion-label style="font-size: 12px;">{{'language' | translate }}</ion-label>
              </ion-row>
            </ion-grid>    
          </div> 
        </ion-col>
       
        <ion-popover trigger="click-trigger" trigger-action="click">
          <ng-template>
            <div> 
              <app-multilanguage [position]="'relative'" [color]="'black'" ></app-multilanguage>
            </div>
          </ng-template>
        </ion-popover>  
      </ion-row>
      </ion-grid>    
    </ion-toolbar>
  </ion-footer>