<ion-header>
  <ion-toolbar color="upmeup" style="height: fit-content;">  
    <ion-buttons slot="end">
      <ion-button (click)="dismissModal()"> <ion-icon name="close-outline" color="light"></ion-icon> </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <!-- <app-multilanguage></app-multilanguage> -->

  <div class="header-class">
    <ion-thumbnail >
      <div *ngIf="avatar; else elseBlock">
        <img width="100px" [src]="avatar" alt="">
      </div>
      <ng-template #elseBlock>
        <img src="./../../../assets/thumbnail.svg" />
      </ng-template>
    </ion-thumbnail>
    <ion-label class="header-text">
      <ion-grid >
        <ion-row>
          <ion-col> 
            <ion-title> 
              <ion-label class="title-offer" color="dark">
                {{ userInfo?.name }} - {{userInfo?.city | translate }} 
              </ion-label>
            </ion-title>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-label> 
  </div>
</ion-header>


<ion-content>
  <div class="container">
    <ion-card-content>
    <ion-title class="ion-padding-top" color="light">
      <!-- Nova Oferta -->
      {{'new-offer' | translate }}
    </ion-title> 
    <form [formGroup]="createForm" (ngSubmit)="onSubmit()" novalidate>
     <ion-item>
      <ion-label position="stacked"><div class="custom-title textarea-title" style="padding-top: 0;">
          <!-- Títol -->
          {{'title' | translate }} *
      </div></ion-label>
        <ion-input id="iTitle" formControlName="iTitle" minlength="8" maxlength="101" required></ion-input>
      </ion-item>
      <div *ngIf="errorCtr.iTitle.errors && (errorCtr.iTitle.invalid || errorCtr.iTitle.touched)">
        <small class="error ion-padding" *ngIf="errorCtr.iTitle.errors?.required">* 
          <!-- Camp requerit -->
          {{'required-field' | translate }}
        </small>
        <small class="error ion-padding" *ngIf="errorCtr.iTitle.errors?.minlength">* 
          <!-- Ha de tenir com a mínim 8 lletres -->
          {{'min-character' | translate: {min: 8} }}
        </small>
        <small class="error ion-padding" *ngIf="errorCtr.iTitle.errors?.maxlength">* 
          <!-- Ha de tenir com a màxim 50 lletres -->
          {{'max-character' | translate: {max: 100} }}
        </small>
      </div>

      <ion-item>
        <ion-label position="stacked"><div class="custom-title textarea-title">
          <!-- Estudis mínims -->
          {{'min-studies' | translate }} *
        </div></ion-label>
        <ion-input id="iEduLevel" formControlName="iEduLevel" minlength="3" maxlength="30" required></ion-input>
      </ion-item>      
      <div *ngIf="errorCtr.iEduLevel.errors && (errorCtr.iEduLevel.invalid || errorCtr.iEduLevel.touched)">
        <small class="error ion-padding" *ngIf="errorCtr.iEduLevel.errors.required">* 
          <!-- Camp requerit -->
          {{'required-field' | translate }}
        </small>        
        <small class="error ion-padding" *ngIf="errorCtr.iEduLevel.errors.minlength">* 
          <!-- Ha de tenir com a mínim 3 lletres -->
          {{'min-character' | translate: {min: 3} }}
        </small>
        <small class="error ion-padding" *ngIf="errorCtr.iEduLevel.errors.maxlength">* 
          <!-- Ha de tenir com a màxim 30 lletres -->
          {{'max-character' | translate: {max: 30} }}
        </small>
      </div>

       <!-- Competències -->
       <ion-item lines="none">
        <ion-label>
          <h2 class="custom-title" style="padding-bottom: 0;">
            <!-- Competències/Habilitats -->
            {{'skills' | translate }}
            :</h2>     
          <h5 class="custom-sub">
            <!-- (selecciona almenys 4 competències) -->
            {{'select-skills' | translate }}
          </h5>
        </ion-label>
      </ion-item>
      <ion-item class="ion-padding-top ion-padding-bottom">
        <tag-input [identifyBy]="'id'"
                   [displayBy]="'value'"
                   secondaryPlaceholder="+ {{'skills' | translate}}"
                   placeholder="+ {{'skills' | translate}}"
                   [maxItems]='20'
                   id="iCompetence"
                   formControlName="iCompetence"
                   [removable]="true"
                   [theme]="'upm-tag-theme'">
              <ng-template let-index="index" let-item="item">
                {{ item.value | translate }}
                <delete-icon (click)="removeCompetence(item)"></delete-icon>
              </ng-template>
          <tag-input-dropdown [autocompleteItems]="competList" [identifyBy]="'_id'" [displayBy]="'name'" [matchingFn]="matchCompetencies">
              <ng-template let-item="item" let-index="index">
                {{ item.name | translate}}
              </ng-template>
          </tag-input-dropdown>
        </tag-input>
      </ion-item>

      <ion-item>
        <ion-row>
          <div style="width: 210px">
            <ion-label><h2 class="custom-title">
            <!-- Ciutat --> 
            {{'city' | translate }} 
            :</h2></ion-label>
          </div>    
          <div class="list list-inset input-select-container">
            <ion-select class="form-text" interface="action-sheet" id="iCity" formControlName="iCity" minlength="1" maxlength="80"
            placeholder="{{'select' | translate }}..." required>
              <ion-select-option *ngFor="let city of finalCityList" value="{{city.value}}">{{city.label}}</ion-select-option>
            </ion-select>  
          </div>  
        </ion-row>       
      </ion-item>
    
      <ion-list>
        <ion-item>
          <ion-row>
            <div style="width: 210px">
              <ion-label><h2 class="custom-title">
              <!-- Model treball -->
              {{'working-model' | translate }}
              :</h2></ion-label>
            </div> 
            <div class="list list-inset input-select-container">
              <ion-select interface="action-sheet" id="iRemoto" formControlName="iRemoto" placeholder="{{'select' | translate }}..." required>
                <ion-select-option value="{{'attended'}}">
                  <!-- Presencial -->
                  {{'attended' | translate }}
                </ion-select-option>
                <ion-select-option value="{{'telecommuting'}}">
                  <!-- Teletreball -->
                  {{'telecommuting' |translate }}
                </ion-select-option>
                <ion-select-option value="{{'hybrid'}}">
                  <!-- Híbrid -->
                  {{'hybrid' | translate }}
                </ion-select-option>
              </ion-select>
            </div>
          </ion-row>
        </ion-item>
      </ion-list>

      <ion-list>
        <ion-item>
          <ion-row >
            <div style="width: 210px">
              <ion-label><h2 class="custom-title">
              <!-- Tipus Contracte -->
              {{'contract-type' | translate }}
              :</h2></ion-label> 
            </div>
            <div class="list list-inset input-select-container">
              <ion-select interface="action-sheet" id="iTipoContrato" formControlName="iTipoContrato" placeholder="{{'select' | translate }}..."required>
                <ion-select-option value="{{'indefinite'}}">
                  <!-- Indefinit -->
                  {{'indefinite' | translate }}
                </ion-select-option>
                <ion-select-option value="{{'permanent-discontinuous'}}">
                  <!-- Fix-Discontinu -->
                  {{'permanent-discontinuous' | translate }}
                </ion-select-option>
                <ion-select-option value="{{'fixed-term'}}">
                  <!-- Durada determinada -->
                  {{'fixed-term' | translate }}
                </ion-select-option>
                <ion-select-option value="{{'formative'}}">
                  <!-- Formatiu -->
                  {{'formative' | translate }}
                </ion-select-option>
              </ion-select>
            </div>
          </ion-row>
        </ion-item>
      </ion-list>

      <ion-list>
        <ion-item>
          <ion-row>
            <div style="width: 210px">
              <ion-label><h2 class="custom-title">
              {{'required-experience' | translate }}
              :</h2></ion-label> 
            </div>
            <div class="list list-inset input-select-container">
              <ion-select interface="action-sheet" id="iRequiredExperience" formControlName="iRequiredExperience" placeholder="{{'select' | translate }}..."required>
                <ion-select-option value="{{ RequiredExperience.JUNIOR}}">
                  {{'less-value' | translate: { value: 2 } }}
                </ion-select-option>
                <ion-select-option value="{{ RequiredExperience.MID}}">
                  {{'between-min-max' | translate: { min: 2, max: 6 } }}
                </ion-select-option>
                <ion-select-option value="{{ RequiredExperience.SENIOR}}">
                  {{'more-value' | translate: { value: 6 } }}
                </ion-select-option>
              </ion-select>
            </div>
          </ion-row>
        </ion-item>
      </ion-list>

      <ion-list>
        <ion-item>
          <ion-row>
            <div style="width: 210px;">
              <ion-label><h2 class="custom-title">
              <!-- Tipus Jornada -->
              {{'workday-type' | translate }}
              :</h2></ion-label>
            </div>       
            <div class="list list-inset input-select-container">
              <ion-select interface="action-sheet" id="iJornada" formControlName="iJornada" placeholder="{{'select' | translate }}..." required>
                <ion-select-option value="{{'full-time'}}">
                  <!-- Jornada completa -->
                  {{'full-time' | translate }}
                </ion-select-option>
                <ion-select-option value="{{'part-time'}}">
                  <!-- Parcial/Mitja jornada -->
                  {{'part-time' | translate }}
                </ion-select-option>
                <ion-select-option value="{{'split-day'}}">
                  <!-- Jornada partida -->
                  {{'split-day' | translate }}
                </ion-select-option>
                <ion-select-option value="{{'continuous-workday'}}">
                  <!-- Jornada continua -->
                  {{'continuous-workday' | translate }}
                </ion-select-option>
                <ion-select-option value="{{'hourly-rate'}}">
                  <!-- Per hores -->
                  {{'hourly-rate' | translate }}
                </ion-select-option>
                <ion-select-option value="{{'reduced'}}">
                  <!-- Jornada reduida -->
                  {{'reduced' | translate }}
                </ion-select-option>
                <ion-select-option value="{{'night-shift'}}">
                  <!-- Jornada nocturna -->
                  {{'night-shift' | translate }}
                </ion-select-option>
                <ion-select-option value="{{'turns'}}">
                  <!-- Per torns -->
                  {{'turns' | translate }}
                </ion-select-option>
                <ion-select-option value="{{'holiday-only'}}">
                  <!-- Només festius -->
                  {{'holiday-only' | translate }}
                </ion-select-option>
              </ion-select>
            </div> 
          </ion-row>
        </ion-item>
      </ion-list>

      <ion-item>
        <ion-label position="stacked"><div class="custom-title textarea-title">
          <!-- Rang Salarial -->
          {{'salary-range' | translate }}* 
          </div></ion-label>
        <ion-input id="iRangoSalarial" formControlName="iRangoSalarial" placeholder="xxxx-xxxx" minlength="2" maxlength="61" required></ion-input>
      </ion-item>
      <div *ngIf="errorCtr.iRangoSalarial.errors && (errorCtr.iRangoSalarial.invalid || errorCtr.iRangoSalarial.touched)">
        <small class="error ion-padding" *ngIf="errorCtr.iRangoSalarial.errors.required">* 
          <!-- Camp requerit -->
          {{'required-field' | translate }}
        </small>
        <small class="error ion-padding" *ngIf="errorCtr.iRangoSalarial.errors.minlength">* 
          {{'min-character' | translate: { min: 2 } }}
        </small>
        <small class="error ion-padding" *ngIf="errorCtr.iRangoSalarial.errors.maxlength">* 
          {{'max-character' | translate: { max: 60 } }}
        </small>
      </div>

      <ion-item>
        <ion-label position="stacked"><div class="custom-title textarea-title">
          <!-- Descripció -->
          {{'description' | translate }}
          :</div></ion-label>
        <ion-textarea id="iDescripcio" formControlName="iDescripcio" minlength="40" maxlength="1001" rows="6" cols="60" required></ion-textarea>
      </ion-item>      
      <div *ngIf="errorCtr.iDescripcio.errors && (errorCtr.iDescripcio.invalid || errorCtr.iDescripcio.touched)">
        <small class="error ion-padding" *ngIf="errorCtr.iDescripcio.errors.required">* 
          <!-- Camp requerit -->
          {{'required-field' | translate }}
        </small>        
        <small class="error ion-padding" *ngIf="errorCtr.iDescripcio.errors.minlength">* 
          <!-- Ha de tenir com a mínim 40 caràcters -->
          {{'min-character' | translate: {min: 40} }}
        </small>
        <small class="error ion-padding" *ngIf="errorCtr.iDescripcio.errors.maxlength">* 
          <!-- Ha de tenir com a màxim 600 caràcters -->
          {{'max-character' | translate: {max: 1000} }}
        </small>
      </div>

      <ion-item>
        <ion-label position="stacked"><div class="custom-title textarea-title">
          <!-- Requisits -->
          {{'requirements' | translate }}
          :</div></ion-label>
        <ion-textarea id="iRequirements" formControlName="iRequirements" minlength="40" maxlength="1001" rows="6" cols="60" required></ion-textarea>
      </ion-item>      
      <div *ngIf="errorCtr.iRequirements.errors && (errorCtr.iRequirements.invalid || errorCtr.iRequirements.touched)">
        <small class="error ion-padding" *ngIf="errorCtr.iRequirements.errors.required">* 
          <!-- Camp requerit -->
          {{'required-field' | translate }}
        </small>        
        <small class="error ion-padding" *ngIf="errorCtr.iRequirements.errors.minlength">* 
          <!-- Ha de tenir com a mínim 40 caràcters -->
          {{'min-character' | translate: {min: 40} }}
        </small>
        <small class="error ion-padding" *ngIf="errorCtr.iRequirements.errors.maxlength">* 
          <!-- Ha de tenir com a màxim 600 caràcters -->
          {{'max-character' | translate: {max: 1000} }}
        </small>
      </div>

      <p class="ion-text-center ion-padding">
        <ion-button type="submit" fill="solid" color="loginbtn" shape="round" [disabled]="!createForm.valid" cy-data="publish-offer"> 
          <!-- Actualitzar  -->
          {{'update' | translate }}
        </ion-button>
        <!--<ion-button type="button" fill="solid" color="danger" shape="round" (click)="cancelCreation()"> 
          Cancela
        </ion-button>-->
      </p>
    </form>
  </ion-card-content>
  </div>
</ion-content>
