/***************************************************************************/
/***************************** Custom Styles *******************************/
/***************************************************************************/

ion-content {
    

    .container {
        background-color: #F9F8F8;


        .custom-title { color: black; padding-top: 20px; padding-bottom: 30px;}
        .custom-sub { font-size: 12px; }
        .textarea-title { font-size: 22px; }
        .custom-text { font-size: 15px; }
        
        ion-select { 
            max-width: 75%; 
            --placeholder-opacity: 100%;
        }

        ion-card { box-shadow: none !important;  }

        ion-title { 
            color: black; 
            font-weight: bolder; 
            padding-left: 15px; 
            font-size: 30px;
        }

        ion-label {
            .header-text {
                color: black;
            }
        }

        .input-select-container {
            background: #FFF;
            border-radius: 60px;
            text-align: center;
            padding-left: 40px;
            font-size: 14px;
            width: 230px;        
            height: 40px; 
            color: #349388;
        }

        ion-item {--ion-item-background: #F9F8F8; --background-hover: none;}

        ion-list { background-color: #F9F8F8;}

        ion-card-content { padding-left: 60px; padding-right: 60px;}




    }
}

ion-header { 

    .header-class { 
        background-color: var(--ion-color-upmeup);
        padding-bottom: 15px;
        text-align: center;

        ion-thumbnail { margin:0 auto; width: 100px; height: 100px; }
        img { border-radius: 50%; }
        

        .title-offer { white-space: normal; font-size: 28px; }
        
    }
}

@media (max-width: 700px){
    ion-item {
        ion-row {
            margin-bottom: 10px;
        }
    }
    ion-content {
        .container {
        ion-card-content { padding-left: 20px; padding-right: 20px;}
    }
    }
}

