<app-toolbar></app-toolbar>
<ion-content fullscreen={true}>
  <div class="header-class">
    <div style="display: grid; grid-auto-flow: column; gap: 50px; justify-content: center; ">
      <ion-thumbnail class="avatar-center">
        <div *ngIf="avatar; else elseBlock">
          <img width="100px" [src]="avatar" alt="">
        </div>
        <ng-template #elseBlock>
          <img src="./../../../assets/avatar.svg" />
        </ng-template>
      </ion-thumbnail> 
    </div>
    <ion-label class="header-text">
      <ion-grid class="ion-padding-bottom">
        <ion-row>
          <ion-col> 
            <ion-title> 
              <ion-label class="title-offer" color="dark">
                {{ userInfo?.name }} - {{userInfo?.city | translate }} 
              </ion-label>
            </ion-title>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-label> 
  </div>
  <ion-row class="offerTitle ion-padding-top" style="word-wrap: anywhere;" >
    <ion-col size="fit-content">
      <div style="display: grid; grid-auto-flow: column; justify-content: left; gap: 20px;">
        <h2>{{'your-offers' | translate }}</h2></div>

    </ion-col>
    <ion-col style="padding-top: 10px;">
      <div class="v-line"><div style="margin-left: 10px;"><ion-label style="cursor: pointer; word-wrap:normal;" color="loginbtn" (click)="toCandidatures()">Ver tus candidaturas</ion-label></div></div>
      <!-- <ion-fab-button size="small" color="loginbtn" (click)="toCandidatures()"> <ion-icon
        name="briefcase-outline"></ion-icon> </ion-fab-button> -->
    </ion-col>
  </ion-row>

  <ion-list>
    <form (ngSubmit)="onFilter()" [formGroup]="filters">
      <ion-item >
        <ion-input formControlName="search" placeholder="{{ 'search' | translate }}" ></ion-input>
      </ion-item>
      
      <ion-row>
        <ion-select formControlName="createdDate" placeholder="{{ 'created-date' | translate }}">
          <ion-select-option value="last-24">{{'last-24' | translate }}</ion-select-option>
          <ion-select-option value="last-7">{{'last-7' | translate }}</ion-select-option>
          <ion-select-option value="last-15">{{'last-15' | translate }}</ion-select-option>
        </ion-select>
        <ion-select formControlName="city" placeholder="{{ 'city' | translate }}">
          <ion-select-option *ngFor="let city of finalCityList" value="{{city.value}}">{{city.label}}</ion-select-option>
        </ion-select>
        <ion-select formControlName="contractType" placeholder="{{ 'contract-type' | translate }}">
          <ion-select-option *ngFor="let contractType of contractTypeOptions" value="{{contractType}}">{{contractType |
            translate}}</ion-select-option>
        </ion-select>
        <ion-select formControlName="workHours" placeholder="{{ 'workday-type' | translate }}">
          <ion-select-option *ngFor="let workHours of workHourOptions" value="{{workHours}}">{{workHours |
            translate}}</ion-select-option>
        </ion-select>
        <ion-select formControlName="requiredExperience" placeholder="{{ 'required-experience' | translate }}">
          <ion-select-option value="{{ RequiredExperience.JUNIOR}}">
            {{'less-value' | translate: { value: 2 } }}
          </ion-select-option>
          <ion-select-option value="{{ RequiredExperience.MID}}">
            {{'between-min-max' | translate: { min: 2, max: 6 } }}
          </ion-select-option>
          <ion-select-option value="{{ RequiredExperience.SENIOR}}">
            {{'more-value' | translate: { value: 6 } }}
          </ion-select-option>
        </ion-select>
        <ion-select formControlName="remote" placeholder="{{ 'working-model' | translate }}">
          <ion-select-option *ngFor="let remote of remoteOptions" value="{{remote}}">{{remote |
            translate}}</ion-select-option>
        </ion-select>

      </ion-row>
      
      <ion-button type="submit" fill="solid" color="loginbtn" shape="round" style="padding-left: 10px;">{{ 'filter' | translate }}</ion-button>
      <ion-button fill="solid" color="loginbtn" shape="round" (click)="clearFilters()">{{ 'clear-filters' | translate
        }}</ion-button>
    </form>
  </ion-list>

  <ion-row class="offerList" style="padding-bottom: 10%;">
    <ion-col sizeMd="fit-content" sizeSm="12" class="container" *ngFor="let offer of allOffers">
      <ion-card (click)="goOfferDetail(offer)" style="cursor: pointer;">
        <ion-list lines="none" class="offers">
          <ion-item style="padding-bottom: 0; padding-left: 0 ;">
            <ion-thumbnail class="offer-avatar" slot="start">
              <img *ngIf="offer.user.avatarB64" class="offers" [src]="offer.user.avatarB64" />
              <img *ngIf="!offer.user.avatarB64" class="offers" src="./../../../assets/thumbnail.svg" />
            </ion-thumbnail> 
            <ion-label size="8">
              <h2 class="custom-text-space title-color"> {{ offer.title }} </h2>
              <ion-text class="subtitle">
                <p><b>{{ offer.user.name | translate }}</b></p>
              </ion-text>
              <ion-row>
                <ion-col class="custom-text-space" size="6">
                  <ion-text class="custom-text-space" color="medium">
                    <p> {{ offer.user.sector.name | translate }}</p>
                  </ion-text>
                  <ion-text color="dark">
                    <p> {{ offer.createdDate | date: 'dd/MM/yyyy' }} </p>
                  </ion-text>
                  <ion-text color="dark" >
                    <p> {{ offer.workHours | translate }} </p>
                  </ion-text>
                    <ion-text color="dark">
                      <p> {{ offer.salaryRange }}€ </p>
                    </ion-text>
                </ion-col>
                <ion-col class="custom-text-space" size="6">
                  <ion-text color="dark">
                    <p><b>{{ offer.city | translate }}</b><ion-icon name="location-outline"></ion-icon></p>
                  </ion-text>
                  <ion-text color="dark">
                    <p> {{ offer.remote | translate }} </p>
                  </ion-text>
                </ion-col>
              </ion-row>
            </ion-label>
          </ion-item>
          <div class="separator"></div>
          <ion-label style="padding-left: 10px;"><ion-text>{{'compatibility-level' | translate }}:</ion-text></ion-label>
          <ion-range labelPlacement="start" [min]=0 [max]=100 [value]="offer.match"
            style="padding-top: 0; pointer-events: none; --knob-box-shadow: 0 0 0 4px white; --bar-height: 8px --bar-background: #d2d9e2; --bar-background-active: var(--ion-color-loginbtn); --bar-height: 6px; --bar-border-radius: 6px; --knob-background: var(--ion-color-loginbtn); --knob-size:20px;">
            <div slot="start">
              <h3 style="color: var(--ion-color-loginbtn); font-weight: 900;">{{offer.match}}%</h3>
            </div>
          </ion-range>
        </ion-list>
      </ion-card>
    </ion-col>
  </ion-row>

  <ion-infinite-scroll threshold="100px" (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>
<app-menu-mobile></app-menu-mobile>