/***************************************************************************/
/***************************** Custom Styles *******************************/
/***************************************************************************/

ion-content {
    --ion-background-color: -moz-linear-gradient(135deg, var(--ion-color-upmeup) 0%, var(--ion-color-login-dgDark) 100%);
    --ion-background-color: -webkit-linear-gradient(135deg, var(--ion-color-upmeup) 0%, var(--ion-color-login-dgDark) 100%);
    --ion-background-color: linear-gradient(135deg, var(--ion-color-upmeup) 0%, var(--ion-color-login-dgDark) 100%);

    .container-login {
        padding: 40px;
        margin-bottom: 10%;
    }

    .content-logo {
        margin-top: 30%;
        margin-bottom: 10%;
    }

    div .input-container {
        background: #FFF;
        border-radius: 60px;
        padding: 18px 48px;
        margin: 20px;
        max-width: 365px;
        box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.25);

        input,
        input[type="text"],
        input[type="password"],
        input:focus,
        input:focus-visible {
            border: 0;
            text-align: center;
            outline: none;
            font-size: 18px;
            color: var(--ion-color-loginbtn);
        }

        ::placeholder {
            color: var(--placeholder-forms);
            opacity: 100%;
            font-weight: 500;
        }
    }

    a {
        font-size: 15px;
        color: #FFF;
    }

    ion-button {
        margin-top: 18px;
        font-weight: bold;
        font-size: 18px;
        text-transform: none !important;
        height: 18*3px; //hack because vertical padding doesn't work with this element 😭
        --border-radius: 60px !important;
        --box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.25);
        --padding-start: 48px;
        --padding-end: 48px
    }

    .error-box {
        padding: 5px;
        border-radius: 5px;
        background: #2d2d2dbd;
    }

    .text-error {
        font-size: 15px;
    }

    ion-list .error {
        font-size: 15px;
        color: #eb445a;
    }

    .h-divider {
        display: flex;
        align-items: center;
        text-align: center;
        margin: 20px;

        span {
            color: #FFF;
        }
    }

    .h-divider::after,
    .h-divider::before {
        content: "";
        border: 1px solid #c7c7c7;
        flex: 1;
    }

    .h-divider:not(:empty)::before {
        margin-right: 0.25em;
    }

    .h-divider:not(:empty)::after {
        margin-left: 0.25em;
    }
}

/* Outside toolbar header */
//.header-text { text-align: left; text-transform: none; }