<div style="display: grid; justify-items: center; gap: 18px">
    <div class="tag-container">
        <div *ngFor="let tag of tags" class="tag">
            <ion-icon style="font-size: 20px; cursor: pointer;" (click)="remove(tag)" name="close-outline"></ion-icon>
            {{ tag | translate }}
        </div>
    </div>
    <form [formGroup]="form" (ngSubmit)="submit()" style="position: relative;">
        <input type="text" name="tag" id="tag" formControlName="tag" (input)="updateSuggestions($event)" placeholder="{{placeholder}}">
        <div class="suggestion-box">
            <p *ngFor="let suggestion of currentSuggestions" (click)="add(suggestion)">
                {{ suggestion | translate }}
            </p>
        </div>
    </form>
</div>