input {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #33657F;
    text-align: center;
    /* elevation/btn-shadow */
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.25);
    background-color: transparent;
    height: 56px;
    padding: 10px 60px;
    gap: 10px;

    border-radius: 18px;
}

::placeholder {
    opacity: 100%;
}

.tag-container {
    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-items: center;
    gap: 9px;
}

.tag {
    display: flex;
    padding: 6px 20px;
    justify-content: center;
    align-items: center;
    gap: 6px;
    border-radius: 60px;
    background: #33657F;

    /* elevation/btn-shadow */
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.25);
    color: white;

}

.suggestion-box {
    position: absolute;
    z-index: 10;
    width: 100%;
    max-height: 20vh;
    background-color: white;
    overflow-y: scroll;
    border-radius: 18px;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.25);
}