/***************************************************************************/
/***************************** Custom Styles *******************************/
/***************************************************************************/

ion-card { width: 100%; }

ion-row.offerList { padding-inline-start: 5%; padding-inline-end: 5%; }

.noEnrolled { width: 50%; margin: 0 auto !important; }

.background { 
    --background: url('../../../assets/background-img/desierto.jpg') top/1000px 1000px repeat ; 
    text-align: center;
    ion-text {font-size:25px;}

}

ion-content { 

    --ion-background-color: white;

    ion-title { font-size: 30px;}

    ion-text {
        padding-top: 10px;
        
        
    }

    .container {  
        width: 100%;
        --ion-background-color: white; 
        .text-block { display: block; margin-top: 15px; }
        ion-card-content { padding: 0;
            .small-size{
                font-size: 16px !important;
            }
        }
        

        .separator { border: 1px solid #4acdba; margin: 41px 0 0px -17px; position: fixed; width: 100%; z-index: 2; }
                            
        .offer-avatar { width: 85px; height: 85px; }
        img.offers { border-radius: 10%; }
		 
        .custom-text-space { white-space: normal; }

        .title-color { font-weight: bolder; font-size: 20px;}

        
        
    }

}


/* Outside toolbar */
.header-class { 
    background-color: var(--ion-color-upmeup);
    padding-top: 1px;

    .header-text { 
        display: block; 
        text-align: center; 
        font-weight: bolder;
    }


    ion-thumbnail img { border-radius: 50%;}

    .avatar-center { margin:0 auto; width: fit-content; margin-top: 25px; margin-bottom: 50px;}
    .title-offer {white-space: normal; }
}

/**
*** Web Responsive style
**/
@media (min-width: 1020px) {
    ion-card { width: 500px; }
    ion-row.offerList { padding-inline-start: 15%; padding-inline-end: 5%;}
    ion-toolbar {
        ion-button { width: 80%;}
    }
    .noEnrolled { width: 50%; margin: 0 auto !important; }
    
    ion-content.background { 
        --background: url('../../../assets/background-img/desierto_web.jpg') bottom/1950px 1300px no-repeat ; 
        text-align: center;
        ion-text {font-size:25px;}
    
    }
}