<app-toolbar></app-toolbar>

<ion-content class="background" *ngIf="cOffers.length === 0">
  <div class="header-class">
    <ion-thumbnail class="avatar-center">
      <div *ngIf="avatar; else elseBlock">
        <img width="100px" [src]="avatar" alt="">
      </div>
      <ng-template #elseBlock>
        <img src="./../../../assets/avatar.svg" />
      </ng-template>
    </ion-thumbnail>
    <ion-label class="header-text">
      <ion-grid class="ion-padding-top ion-padding-bottom">
        <ion-row>
          <ion-col>
            <ion-title>
              <ion-label class="title-offer" color="dark">
                {{ userInfo?.name }} - {{userInfo?.city | translate }}
              </ion-label>
            </ion-title>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-label>
  </div>  
  <ion-row class="offerList ion-padding-top" >
    <ion-col class="padding-right" style="text-align: right;">
      <ion-title class="ion-padding-top ">{{'active-offers' | translate }}</ion-title>
    </ion-col>
    <ion-col class="padding-top">
      <ion-fab-button size="small" color="loginbtn" (click)="createModal()" cy-data="add-offer">
        <ion-icon name="add-outline"></ion-icon>
      </ion-fab-button>
    </ion-col>
  </ion-row>
  <div class="noEnrolled ion-padding" *ngIf="cOffers.length === 0">
    <ion-label>
      <ion-text color="dark">
        <!-- Encara no has publicat cap oferta -->
        {{'company-offer-none' | translate }}
      </ion-text>
    </ion-label>
  </div>
</ion-content>

<ion-content *ngIf="cOffers.length !== 0">
  <div class="header-class">
    <ion-thumbnail class="avatar-center">
      <div *ngIf="avatar; else elseBlock">
        <img width="100px" [src]="avatar" alt="">
      </div>
      <ng-template #elseBlock>
        <img src="./../../../assets/avatar.svg" />
      </ng-template>
    </ion-thumbnail>
    <ion-label class="header-text">
      <ion-grid class="ion-padding-top ion-padding-bottom">
        <ion-row>
          <ion-col>
            <ion-title>
              <ion-label class="title-offer" color="dark">
                {{ userInfo?.name }} - {{userInfo?.city | translate }}
              </ion-label>
            </ion-title>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-label>
  </div>
  <ion-row class="offerList ion-padding-top"  >
    <ion-col size="fit-content" class="padding-right" style="padding-bottom: 0px;">
      <ion-title class="ion-padding-top" style="padding-left: 10px;" >{{'my-offers' | translate }}</ion-title>
    </ion-col>
    <ion-col class="padding-top" style="padding-left: 5px;">
      <ion-fab-button size="small" color="loginbtn" (click)="createModal()" cy-data="add-offer">
        <ion-icon name="add-outline"></ion-icon>
      </ion-fab-button>
    </ion-col>
  </ion-row>
  <div class="noEnrolled ion-padding" *ngIf="cOffers.length === 0">
    <ion-label>
      <ion-text color="dark">
        <!-- Encara no has publicat cap oferta -->
        {{'company-offer-none' | translate }}
      </ion-text>
    </ion-label>
  </div>
  <ion-row class="offerList" style="padding-bottom: 10%;">
    <ion-col sizeMd="fit-content" sizeSm="12" class="container" *ngFor="let offer of cOffers;">
      <ion-card (click)="goOfferDetail(offer.item)" style="cursor: pointer;">
        <ion-card-content>
          <ion-list lines="none">
            <ion-item>
              <div class="separator"></div>
              <ion-label>
                <ion-text color="custom">
                  <h2 class="custom-text-space title-color"> {{ offer.item.title }}<ion-text *ngIf="offer.item.status == 'INACTIVE'" style="font-weight: 500; color: crimson">   [INACTIVA]</ion-text></h2>
                  
                </ion-text>
                <ion-text class="small-size" color="dark">
                  <div>{{ offer.item.city | translate }}</div>
                </ion-text>
                <ion-text class="small-size" color="medium">
                  <h3> {{ offer.item.createdDate | date: 'dd/MM/yyyy' }} </h3>
                </ion-text>
                <ion-fab horizontal="end">
                  <ion-fab-button color="loginbtn" (click)="editModal(offer.item._id, $event)" size="small"> <ion-icon
                      name="create-outline"></ion-icon> </ion-fab-button>
                </ion-fab>
                <ion-text class="text-block" color="dark">
                  <!-- Persones Inscrites:  -->
                  {{'registered-people' | translate }} :
                  <ion-text> {{ offer.item.enrolled }} </ion-text>
                </ion-text>
              </ion-label>
            </ion-item>
          </ion-list>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-content>
<app-menu-mobile></app-menu-mobile>