ion-menu ion-content {
  --background: var(--ion-item-background, var(--ion-background-color, #fff));
}

ion-menu.md ion-content {
  --padding-start: 8px;
  --padding-end: 8px;
  --padding-top: 20px;
  --padding-bottom: 20px;
}

ion-menu.md ion-list {
  padding: 20px 0;
}

ion-menu.md ion-note {
  margin-bottom: 30px;
}

ion-menu.md ion-list-header,
ion-menu.md ion-note {
  padding-left: 10px;
}

ion-menu.md ion-list#inbox-list {
  border-bottom: 1px solid var(--ion-color-step-150, #d7d8da);
}

ion-menu.md ion-list#inbox-list ion-list-header {
  font-size: 22px;
  font-weight: 600;

  min-height: 20px;
}

ion-menu.md ion-list#labels-list ion-list-header {
  font-size: 16px;

  margin-bottom: 18px;

  color: #757575;

  min-height: 26px;
}

ion-menu.md ion-item {
  --padding-start: 10px;
  --padding-end: 10px;
  border-radius: 4px;
}

ion-menu.md ion-item.selected {
  --background: rgba(var(--ion-color-primary-rgb), 0.14);
}

ion-menu.md ion-item.selected ion-icon {
  color: var(--ion-color-primary);
}

ion-menu.md ion-item ion-icon {
  color: #616e7e;
}

ion-menu.md ion-item ion-label {
  font-weight: 500;
}

ion-menu.ios ion-content {
  --padding-bottom: 20px;
}

ion-menu.ios ion-list {
  padding: 20px 0 0 0;
}

ion-menu.ios ion-note {
  line-height: 24px;
  margin-bottom: 20px;
}

ion-menu.ios ion-item {
  --padding-start: 16px;
  --padding-end: 16px;
  --min-height: 50px;
}

ion-menu.ios ion-item.selected ion-icon {
  color: var(--ion-color-primary);
}

ion-menu.ios ion-item ion-icon {
  font-size: 24px;
  color: #73849a;
}

ion-menu.ios ion-list#labels-list ion-list-header {
  margin-bottom: 8px;
}

ion-menu.ios ion-list-header,
ion-menu.ios ion-note {
  padding-left: 16px;
  padding-right: 16px;
}

ion-menu.ios ion-note {
  margin-bottom: 8px;
}

ion-note {
  display: inline-block;
  font-size: 16px;

  color: var(--ion-color-medium-shade);
}

ion-item.selected {
  --color: var(--ion-color-primary);
}

/* Custom Styles */
ion-list {
  .center-class { text-align: center; font-size: 18px; margin-bottom: 35px; }  
  .avatar-center { margin:0 auto; margin-bottom: 15px; }
}

.ion-color-upmeup {
  --ion-color-base: var(--ion-color-upmeup);
  --ion-color-base-rgb: var(--ion-color-upmeup-rgb);
  --ion-color-contrast: var(--ion-color-upmeup-contrast);
  --ion-color-contrast-rgb: var(--ion-color-upmeup-contrast-rgb);
  --ion-color-shade: var(--ion-color-upmeup-shade);
  --ion-color-tint: var(--ion-color-upmeup-tint);
}

.ion-color-login-dgDark {
  --ion-color-base: var(--ion-color-login-dgDark);
  --ion-color-base-rgb: var(--ion-color-login-dgDark-rgb);
  --ion-color-contrast: var(--ion-color-login-dgDark-contrast);
  --ion-color-contrast-rgb: var(--ion-color-login-dgDark-contrast-rgb);
  --ion-color-shade: var(--ion-color-login-dgDark-shade);
  --ion-color-tint: var(--ion-color-login-dgDark-tint);
}

// Avatar styles
.avatar-custom {
  border: 3px solid #49c5b9;
  background: #eeeeee;
}

.logOutbtn { background-color: white; }

ion-footer {

  ion-toolbar{
    padding-top: 10px;
    padding-bottom: 10px;
      
    ion-icon { 
      width: 30px; 
      height: 30px; 
      vertical-align: middle;  
      
    }
     

    ion-col {
        text-align: center;
        
    }

  }
  
}

@media (min-width: 440px){
  .mobile {
      display: none;
  }
}


@media (max-width: 440px){
  .desktop {
      display: none;
  }
}