/***************************************************************************/
/***************************** Custom Styles *******************************/
/***************************************************************************/

ion-content { 
    ion-header { box-shadow: none !important; }
    .center-class { text-align: center; }  
    
    .container { 
        //--ion-background-color: #f2f2f2; 
        margin-top: 40px;
        margin-bottom: 60px;
        margin-left: 15%;
        margin-right: 15%;
        max-width: 1200px;
        display:grid;
        gap: 40px;


        h2 {
            font-weight: 600;
            font-size: 30px;
        }

        p {
            font-size: 24px;
            -ms-word-break: break-all;
            word-break: break-all;
            word-break: break-word;     
        }

        .sector {
            align-items: center;
            display: grid;
            grid-template-columns: repeat(3,  auto);
            max-width: 1000px;
            margin: 20px 0px;
            padding-left: 20px;

            
        }

        .custom-icon {
            display: grid;
            justify-items: center;
            justify-content: center;
            ion-icon {
                height: 50px;
                width: 100%;
                background-position: center;
            }
            ion-label { color: #5a7266; /*vertical-align: middle; text-align: center;*/ }
            span { 
                margin-left: 5px; 
                font-size: 18px; 
                color: #5a7266;
             }
        }
        
        
        .skills-info { 
            display: grid;
            grid-template-columns: repeat(3,  auto);
            max-width: 1000px;
            column-gap: 100px;
            row-gap: 30px;
            margin: 0px 10px;
            text-align: center;
        }

        @media only screen and (max-width: 850px) and (min-width: 440px) {
            .skills-info {
                grid-template-columns:repeat(2, auto);
            }
        }

        @media only screen and (max-width: 440px){
            .skills-info {
                grid-template-columns:auto;
                margin-left: -20px;
            }
        }

        ion-card.card-title {
            margin: 0;
            box-shadow: none;
            background: var(--ion-color-upmeup);
            border-bottom: 4px solid #c8e3d6;
            border-radius: 0;
        }
        p.title {
            color: black;
        }


        

        ion-card.content-info { 
            margin: 0; 
            border-radius: 0; 
            box-shadow: none;
            margin-bottom: 10%;

            ion-button { 
                margin: 30px 15px; 
                font-weight: bold; 
                height: 40px; 
                text-transform: capitalize; 
                
                .edit-btn { margin: 0 !important; }
                span { color: white; }
            }

        }

        ion-card-content {
            h4.margin { margin: 30px; font-size: 14px;} 
            .custom-title { color: #8cb2a1; font-weight: bold; font-size: 17px; }

            h4.nomargin {font-size: 14px; margin: 30px;}

            h2.margin {margin: 30px;}.custom-title{color: #8cb2a1; font-weight: bold;}
            
            h6.custom-subtitle {color: #2288a8; font-weight: bold; font-size: 14px;}

            .edit-btn {
                border-radius: 50%;
                height: 25px;
                width: 25px;
                background: #4acdba;
                color: #FFF;
                box-shadow: 0px 2px 3px 0px #b0b0b0;
            }
        }
        
        ion-fab-button { width: 45px; height: 45px; box-shadow: none !important; } 
        .margin-fab-btn { margin: 15px 50px; }
        
        .exp-title {
            h3 { font-weight: bold; margin-top: 25px;} 
            h5 { margin-bottom: 25px;} 
        }

        ion-label ion-chip {
            background-color: white;
            color: #9FC6BA;
            border-color: #9FC6BA;
            border-style: solid;
            border-width: 0.82px;
            border-radius: 49px;
            font-size: 16px;
            font-weight: 500;
            height: min-content;
            padding-top: 14px;
            padding-bottom: 14px;
            padding-left: 39px;
            padding-right: 39px;
            cursor: default;

        }

    }

    @media only screen and (max-width: 550px) {
        .container {
            margin: 40px 20px;
        }
    }

    @media only screen and (max-width: 800px) and (min-width: 440px) {
        .container {
            margin: 40px 40px;
        }
    }
   


}


/* Outside toolbar header */
.header-class { 
    background-color: var(--ion-color-upmeup);
    
    .head-line { border: 3px #c8e3d6 solid; }
    
    ion-thumbnail { margin:0 auto; width: 130px; height: 130px; }
    img { border-radius: 50%; width: 130px; height: 130px}
    .header-text { display: block; text-align: center; padding-bottom: 10px; }

    ion-label ion-icon { 
        width: 35px; 
        height: 35px; 
        vertical-align: middle; 
    }

    .title-offer { white-space: normal; }
    
}

ion-fab-button { --box-shadow: none !important; --background: none !important; --color: none !important; }


ion-footer {
    ion-toolbar{
    

        padding-top: 10px;
        padding-bottom: 10px;
        
       ion-icon { 
        width: 30px; 
        height: 30px; 
        vertical-align: middle; 
        padding-right: 15px;
        padding-bottom: 10px;
        
        } 
        ion-label {
            padding-right: 15px;
        }

        ion-col {
            display: grid;
        }


    }
    
}
@media (min-width: 440px){
    .mobile {
        display: none;
    }
}
@media (max-width: 440px){
    .desktop {
        display: none;
    }
}


/**
*** Web Responsive style
**/
@media (min-width: 1020px) {
    .header-class {
        ion-grid { 
            width: 80%; 

           .skills-info { text-align: center; }
        }
    }

    ion-card-content { 
        width: 50%; 
        margin: 0 auto; 
        margin-bottom: 10%;
    
        ion-button { width: 60%; margin: 30px auto !important;}    
    }
}