
<app-toolbar></app-toolbar>
<ion-content *ngIf="userInfo">
  <div class="header-class">
    <div style="display: grid; grid-auto-flow: column; gap: 50px; justify-content: center; padding-left: 105px;">
      <ion-thumbnail class="avatar-center">
        <div *ngIf="avatar; else elseBlock">
          <img width="130px" [src]="avatar" alt="">
        </div>
        <ng-template #elseBlock>
          <img width="130px" src="./../../../assets/avatar.svg" />
        </ng-template>
      </ion-thumbnail>
      <ion-fab-button color="loginbtn" 
                      size="small" 
                      (click)="editAvatarModal()"> 
        <ion-icon name="create-outline"
                  style="color: white;">
        </ion-icon> 
      </ion-fab-button>
    </div>
    <ion-label class="header-text">
      <ion-grid class="ion-padding-top ion-padding-bottom">
        <ion-row>
          <ion-col class="ion-text-center">
            <ion-title> <ion-label class="title-offer" style="font-weight: 500;">
                {{ userInfo.name }} {{userInfo.surname}}
                <h3>
                  <!-- de -->
                  {{'from' | translate }}
                  {{userInfo.city | translate}}
                </h3>
              </ion-label>
            </ion-title>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-label>

  </div>

  <!-- Content -->
  <div class="container">
    <div name="values">
      <div style="display: grid; grid-auto-flow: column; justify-content: left; gap: 20px;">
        <h2>{{ 'your-values' | translate }}</h2>
        <ion-fab-button color="loginbtn" size="small" (click)="openModal()"> <ion-icon name="create-outline"
            style="color: white;"></ion-icon> </ion-fab-button>
      </div>
      <div class="ion-padding-bottom" *ngIf="userSkills.length === 0">
        <div class="header-text ion-padding">
          <ion-label color="danger" class="ion-text-start">
            <!-- Encara no tens valors seleccionats -->
            {{'no-values-selected' | translate }}
          </ion-label>
        </div>
      </div>

      <div class="skills-info ion-padding-top ion-padding-bottom" *ngIf="userSkills?.length > 0">
        <div class="custom-icon" *ngFor="let skill of skillsIco">
          <ion-icon class="{{skill.sClass}}"></ion-icon>
          <span><b>{{ skill.sname | translate }}</b></span>
        </div>
      </div>
    </div>
    <div name="info">
      <div style="display: grid; grid-auto-flow: column; justify-content: left; gap: 20px;">
        <h2>{{ 'info' | translate }}</h2>
        <ion-fab-button size="small" (click)="editModal()" color="loginbtn"> <ion-icon style="color: white;"
            name="create-outline"></ion-icon> </ion-fab-button>
      </div>
      <ion-card class="ion-padding">
        <ion-row><p class="title">{{'name' | translate }}:</p><p class="padding-left">{{ userInfo?.name }}</p></ion-row>
        <ion-row><p class="title">{{'surname' | translate }}:</p><p class="padding-left">{{ userInfo?.surname }}</p></ion-row>
        <ion-row><p class="title">{{'email' | translate }}:</p><p class="padding-left">{{ userInfo?.email }}</p></ion-row>
        <ion-row><p class="title">{{'city' | translate }}:</p><p class="padding-left">{{ userInfo?.city }}</p></ion-row>
        <ion-row><p class="title">{{ 'qualification' | translate }}:</p><p class="padding-left">{{userInfo.eduLevel}}</p></ion-row>
        <p class="title">{{ 'skills' | translate }}:</p>
        <ion-label>
          <h4 class="margin">
            <ion-chip *ngFor="let compet of userCompets">
              <ion-label style="font-size: 16px;"> {{ compet.name | translate }} </ion-label>
            </ion-chip>
          </h4>
        </ion-label>
        <ion-row><p class="title">{{'last-job' | translate }}:</p><p class="padding-left">{{ userInfo?.jobPosition }}</p></ion-row>
        <ion-row >
          <p class="title">{{'sectors' | translate}}:</p>
          <div class="sector">
            <ion-col style="padding-top: 0px;">
              <ion-label>
                <h4 class="margin">
                  <ion-chip *ngFor="let sector of userInfo?.sector" >
                    <ion-label style="font-size: 16px;"> {{ sector.name | translate }} </ion-label>
                  </ion-chip>
                </h4>
              </ion-label>
            </ion-col>
          </div>   
        </ion-row>
        <p class="padding-left" *ngIf="userInfo.experience === '1'">{{userInfo.experience}} {{'experience-sing' | translate}}</p>
        <p class="padding-left" *ngIf="userInfo.experience !== '1'">{{userInfo.experience}} {{'experience' | translate}}</p>
        <p class="title">{{'description' | translate }}:</p><p class="padding-left">{{ userInfo?.lastJobTasks }}</p>
        <p class="title">{{ 'skills' | translate }}:</p>
        <ion-label>
          <h4 class="margin">
            <ion-chip *ngFor="let compet of userCompets">
              <ion-label style="font-size: 16px;"> {{ compet.name | translate }} </ion-label>
            </ion-chip>
          </h4>
        </ion-label>
        <p class="title">{{ 'languages' | translate }}:</p>
        <ion-label>
          <h4 class="margin">
            <ion-chip *ngFor="let lang of userInfo?.languages">
              <ion-label style="font-size: 16px;"> {{ lang | translate }}</ion-label>
            </ion-chip>
          </h4>
        </ion-label>
        <div name="cover-letter" *ngIf="userInfo.coverLetter">
          <p class="title">{{ 'cover-letter' | translate }}:</p>
          <p class="padding-left">
            {{userInfo.coverLetter}}
          </p>
        </div>
        <div name="video" *ngIf="userInfo.video">
          <p class="title">{{ 'presentation-video' | translate }}:<a class="padding-left" target="_blank" href="{{userInfo.video}}" style="font-size: 24px;">{{userInfo.video}}</a></p>
          
        </div>
      </ion-card>
     
    </div>
 
    <div name="cv">
      <h2>Curriculum Vitae</h2>
      <ion-label>
        <h4 class="nomargin">
          <ion-button color="loginbtn" shape="round" (click)="uploadCVModal()"> {{ (userInfo.cv ? 'update' :
            'upload') | translate }} </ion-button>
          <ion-button *ngIf="userInfo.cv" color="loginbtn" shape="round" (click)="downloadCV()">{{'download' |
            translate}}</ion-button>
        </h4>
      </ion-label>
    </div>
    
  </div>
</ion-content>
<app-menu-mobile></app-menu-mobile>

