<ion-header>
  <app-multilanguage></app-multilanguage>
</ion-header>

<ion-content fullscreen class="ion-padding" scroll="true">
  <ion-slides>
    <ion-slide>
      <div class="container-login">
        <h2>
          <!-- Benvingut/a a -->
          {{'welcome' | translate }}
        </h2>
        <ion-grid>
          <ion-row>
            <ion-col>
              <div class="content-logo">
                <img src="/assets/UpMeUp-logo.png" alt="UpMeUp logo">
              </div>    
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <button class="big-button" (click)="toRegister()"> 
                <span class="small-text">
                  <!-- Començar -->
                  {{'start' | translate }}
                </span>
                <ion-icon name="arrow-forward-outline" style="font-size: 17px;"></ion-icon>
              </button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </ion-slide>
  </ion-slides>
</ion-content>
