<ion-header>
    <ion-toolbar color="loginbtn">
      <ion-row>
        <ion-col>
          <ion-title><ion-label style="white-space: normal;"> {{ 'select-file' | translate  }} </ion-label>
          
          </ion-title>
        </ion-col>
      </ion-row>
      
      <!-- <app-multilanguage></app-multilanguage> -->
      <ion-buttons slot="end">
        <ion-button (click)="dismissModal()"> <ion-icon name="close-outline"></ion-icon> </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-content>

    <ion-grid>    
      <div *ngIf="LoggedUser.cv">
        <h4 class="margin custom-title"> {{'current-cv' | translate }}: <ion-text>{{LoggedUser.cv}}</ion-text> </h4>
      </div>
      <p class="ion-text-center">
        <ion-button fill="solid" color="loginbtn" shape="round">
          <label for="file" class="btn"> {{'select-file' | translate }}</label>
        </ion-button>
        <input type="file" id="file" accept=".pdf" (change)="onSelectFile($event)" style="display:none">
      </p>   
      <div *ngIf="file">
        <h4 class="margin custom-title" >{{'new-cv' | translate }}: <ion-text>{{file.name}}</ion-text>  </h4>
        <p class="ion-text-center">
          <ion-button type="button" fill="solid" color="loginbtn" shape="round"(click)="uploadFile()">{{ 'upload' | translate  }}</ion-button>
        </p>
      </div>
      
    </ion-grid>

  </ion-content>