/***************************************************************************/
/***************************** Custom Styles *******************************/
/***************************************************************************/
ion-row.offerList { padding-inline-start: 5%; padding-inline-end: 5%; }
ion-content { 
    // --ion-background-color: #c8e3d6;

    ion-title { 
        font-size: 30px; 
        font-weight: 600;
        .title-offer { font-size: 28px; font-weight: 500;}
    
    }

    .subtitle { color: var(--ion-color-loginbtn); }

    ion-text{
        p {
            font-size: 16px;
        }
    } 

    .container { 
        --ion-background-color: white; 
        .text-block { display: block; margin-top: 15px; }
        .title-color { font-size: 20px; font-weight: 500;}
        ion-card-content { padding: 0; }

        .separator { border: 1px solid #4acdba; margin: -5px 0px 0px -15px; position: fixed; width: 100%; z-index: 2; }
                            
        img.offers { border-radius: 10%; }
		 
        .custom-text-space { white-space: normal; }

        ion-list.offers{width: 100%; margin-bottom: 0; padding: 0;}
    }
}


.header-class { 
    background-color: var(--ion-color-upmeup);

    .header-text { 
        display: block; 
        text-align: center; 
        font-weight: 500;
    }

    .avatar-center { margin:0 auto; width: 110px; height: 110px;  }

    ion-thumbnail img { border-radius: 50%; margin-left: 10px; }
    .title-offer { white-space: normal; }
}

/**
*** Web Responsive style
**/
@media (min-width: 1020px) {

    ion-card { width: 500px;}

    ion-toolbar {
        ion-button { width: 80%; }
    }

    .noEnrolled { width: 50%; margin: 0 auto !important; }

    ion-list { 
        max-width: 1300px; 
        padding-left: 20%;
        padding-right: 50px;
     } 
     
    ion-row.offerTitle {padding-inline-start: 20%; padding-inline-end: 5%;}
    ion-row.offerList { padding-inline-start: 20%; padding-inline-end: 5%;} 

    .offer-avatar { width: 100px; height: 100px; }
}

@media (max-width: 1020px) {
    ion-list { 
        padding-left: 5%;
        padding-right: 10%;
        margin: 10px auto; 
    } 
    ion-row.offerTitle {padding-inline-start: 5%; padding-right: 5%;}
    ion-row.offerList { padding-inline-start: 5%; padding-right: 5%; display: grid;} 
    ion-card { max-width: 500px;}
    
    .offer-avatar { width: 70px; height: 70px; }
    img.offers { margin-right: 0; margin-top: 10px;}
    ion-thumbnail { text-align: center;}
    
    
}