<app-toolbar></app-toolbar>
<ion-content *ngIf="usersOffersList">
  <div class="header-class">
    <div style="display: grid; grid-auto-flow: column; gap: 50px; justify-content: center; ">
      <ion-thumbnail class="avatar-center">
        <div *ngIf="avatar; else elseBlock">
          <img width="100px" [src]="avatar" alt="">
        </div>
        <ng-template #elseBlock>
          <img src="./../../../assets/avatar.svg" />
        </ng-template>
      </ion-thumbnail> 
    </div>
    <ion-label class="header-text">
      <ion-grid class="ion-padding">
        <ion-row>
          <ion-col>
            <ion-title >
              <ion-label class="title-offer" color="dark">
                {{ userInfo?.name }} - {{userInfo?.city | translate }}      
              </ion-label>   
            </ion-title>
          </ion-col>
        </ion-row>
      </ion-grid>
   </ion-label>
  </div>
  <ion-row class="offerTitle ion-padding-top">
    <ion-col>
      <ion-title class="ion-padding-top ion-padding-bottom" 
                style="padding-right: 10px; padding-left: 10px;">
        <ion-label style="white-space: normal">
          {{'your-applications' | translate }}
        </ion-label>           
      </ion-title>
    </ion-col>
  </ion-row>
  <ion-row class="offerList" style="padding-bottom: 10%;"> 
    <ion-col sizeMd="fit-content" sizeSm="12" class="container" *ngFor="let offer of usersOffersList">
      <ion-card (click)="goOfferDetail(offer)" style="cursor: pointer;">
        <ion-list lines="none" class="offers">
          <ion-item>
            <!-- <div class="separator"></div> -->
            <ion-thumbnail class="offer-avatar" slot="start">
              <img *ngIf="offer.user.avatarB64" class="offers" [src]="offer.user.avatarB64" />
              <img *ngIf="!offer.user.avatarB64" class="offers" src="./../../../assets/thumbnail.svg" />
            </ion-thumbnail> 
            <ion-label>
              <ion-text color="custom">
                <h2 class="custom-text-space title-color"> {{ offer.title }} </h2>
                <ion-text class="subtitle">
                  <p><b>{{ offer.user.name | translate }}</b></p>
                </ion-text>
                <ion-text class="custom-text-space" color="dark">
                  <p><ion-icon name="location-outline"></ion-icon><b> {{ offer.city | translate }} </b></p>  
                </ion-text>
              </ion-text>
              <ion-text color="medium">
                <p> {{ offer.createdDate | date: 'dd/MM/yyyy' }} </p>
              </ion-text>
              <ion-text class="text-block" color="medium">
                <div class="separator"></div>
                <h3 style="color: var(--ion-color-loginbtn); font-weight: 900; font-size: 16px;">
                  <!-- Persones inscrites:  -->
                  {{'registered-people' | translate }}:
                  <ion-text style="color: var(--ion-color-loginbtn); font-weight: 900;">{{ offer.enrolled }}</ion-text>
                </h3>
              </ion-text>
            </ion-label>
          </ion-item>
        </ion-list>        
      </ion-card>
    </ion-col>
  </ion-row>
</ion-content>
<app-menu-mobile></app-menu-mobile>
