
<ion-content>
    <ion-title  color="loginbtn">¡{{'congratulations' | translate }}!</ion-title>
    <ion-text color="loginbtn">{{'enrolled' | translate }}<ion-text style="font-weight: bolder;"><b>Up me Up,</b></ion-text>
     <ion-text *ngIf="userType === '2'">¡{{'welcome-user' | translate}} !</ion-text>
     <ion-text *ngIf="userType === '1'">¡{{'welcome-company' | translate }}!</ion-text>
    </ion-text>
    <ion-grid>
         <ion-button color="loginbtn" shape="round" (click)="goToProfile()" style="margin-top: 20px;">
          {{'edit-profile-inf' | translate }}
        </ion-button>
    </ion-grid> 
    <ion-grid>
        <ion-button *ngIf="userType === '2'" color="loginbtn" shape="round" (click)="goToCreateOffer()">
          {{'publish-offer' | translate }}
        </ion-button>
        <ion-button *ngIf="userType === '1'" color="loginbtn" shape="round" (click)="goToOfferList()">
          {{'consult-offers' | translate }}
        </ion-button>
    </ion-grid>  
</ion-content>

