/***************************************************************************/
/***************************** Custom Styles *******************************/
/***************************************************************************/
ion-content { 
    --background: url('../../../../../assets/background-img/bosque.jpg')center/1000px 1100px no-repeat;

    text-align: center;
    ion-title { font-size: 30px; font-weight: bold; margin-top: 200px;}
    ion-text {margin-left: 15%; margin-right: 15%; display: block; font-size:larger;}
    ion-button { text-transform: none; font-weight: bold; width: 200px;}

}


/**
*** Web Responsive style
**/
@media (min-width: 1000px) {
    
    ion-content { 
        --background: url('../../../../../assets/background-img/bosque_web_ok.jpg')center/1800px 1000px repeat  ;
        --background-size: contain;

        text-align: center;
        ion-title { font-size: 30px; font-weight: bold; margin-top: 200px}
        ion-text {margin-left: 20%; margin-right: 20%; display: block; font-size:larger; }
    }
}